/* General Page Setup */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
   background: linear-gradient(to right, #6f567e, #8f48a2);
}

.admin-container {
  max-width: 700px;
  margin: 60px auto;
  background-color: rgb(120, 117, 164);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

/* Title */
h1, h3 {
  color: #2e8b57;
  margin-bottom: 20px;
}

/* Dropdown */
label, select {
  font-size: 16px;
  margin-bottom: 15px;
}

select {
  width: 60%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 25px;
}

/* Forms */
.user-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.user-form input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit Button */
.btn {
  background-color: #2e8b57;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #246c46;
}

/* Back Link */
.dashboard-link {
  display: inline-block;
  margin-top: 30px;
  color: white;
  background-color: #2e8b57;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
}

.dashboard-link:hover {
  background-color: #246c46;
}
