body {
  font-family: Arial, sans-serif;
 background: linear-gradient(to right, #62a668, #59895a);
  margin: 0;
  padding: 0;
}

.dashboard-container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  color: #2c3e50;
}

h2 {
  color: #2980b9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #2980b9;
  color: white;
}

.btn, .back-btn {
  background-color: #284232;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #2471a3;
}
